@keyframes loadingColor {
    0% {
        font-weight: 200;
        font-size: 30px;
        color: rgb(16, 148, 141);
    }
    100% {
        font-weight: 300;
        font-size: 35px;
        color: white;
    }
}

.albums-container {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 2%;
    grid-template-rows: repeat(3, 1r);
    row-gap: 16px;
}

.albums-card {
    min-height: 198px;
}